@model MVCSocialMedia.Entities.Post

<div class="well-sm" id="@Model.PostId">
    <div class="form-group">
        <div class="row">
            <div class="col-sm-4">
                <label>@(Model.author.UserName)</label>
                <label>@(Model.CreationTime)</label>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-4" style="width:200px; max-height:200px;">
                @if (Model.Img != null)
                {
                    <img class="img-thumbnail" alt="Bootstrap Image Preview"
                         src="@Url.Action("GetPostImage", "Home", new { postid = Model.PostId })" />
                }
            </div>
            <div class="col-sm-6">
                <label>@(Model.Content)</label>
            </div>
        </div>
        
        

        <div class="row">
            <div id="@Model.PostId div" class="col-sm-4">
                
                <button id="@Model.PostId.ToString()/likeButton" class="btn btn-sm" value="Like" onclick="likeFunction('@Model.PostId/likes')">Like</button>
                   
                <label id="@Model.PostId/likes">@(Model.likes.Count)</label>
            </div>

          


            @if (Model.author.Id == Session["userId"].ToString() || Model.wall.AppUserId == Session["userId"].ToString())
            {
                <div class="col-sm-6">
                    <button class="btn btn-sm" onclick="deleteFunction('@Model.PostId')">Delete</button>
                   

                </div>

            }
        </div>


    </div>
</div>